In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
import numpy as np
import pandas as pd

labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

print("labels: ",labels)
print("myData: ",my_data)
print("array: ",arr)
print("dictionary: ",d)

labels:  ['a', 'b', 'c']
myData:  [10, 20, 30]
array:  [10 20 30]
dictionary:  {'a': 10, 'b': 20, 'c': 30}

In [5]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [10]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
pd.Series(data=[d.keys,d.items,d.values])

0    <built-in method keys of dict object at 0x0000...
1    <built-in method items of dict object at 0x000...
2    <built-in method values of dict object at 0x00...
dtype: object

In [13]:
#indexing and slicing
ser1=pd.Series([1,2,3,4],['ab','jb','kb','cb'])
ser2=pd.Series([1,3,6,4],['ab','jb','kb','cb'])
ser1['ab']
#ser2[1]

1

In [14]:
ser2[1]

3

In [15]:
ser1[1:4]

jb    2
kb    3
cb    4
dtype: int64

In [16]:
ser2[1:3]

jb    3
kb    6
dtype: int64

In [17]:
#adding and merging
ser1=pd.Series([1,2,3,4],['ab','jb','kb','cb'])
ser2=pd.Series([1,3,6,4],['aa','jp','hb','cp'])
ser3=ser1+ser2
ser3

aa   NaN
ab   NaN
cb   NaN
cp   NaN
hb   NaN
jb   NaN
jp   NaN
kb   NaN
dtype: float64

In [18]:
ser3=ser1*ser2
ser3

aa   NaN
ab   NaN
cb   NaN
cp   NaN
hb   NaN
jb   NaN
jp   NaN
kb   NaN
dtype: float64

In [19]:
#creating and accessing data frames
np.random.seed(101)
matrix_data= np.random.randn(4,4)
row_labels=['a','b','c','d']
column_headings=['w','x','y','z']
df=pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [20]:
#columns slicing and indexing
df['x']

a    0.628133
b   -0.319318
c    0.740122
d   -0.758872
Name: x, dtype: float64

In [21]:
df[['x','y']]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237

In [22]:
df.x

a    0.628133
b   -0.319318
c    0.740122
d   -0.758872
Name: x, dtype: float64

In [23]:
#creating new columns or rows  and deleting
df['new']=df['x']+df['y']
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.536102
b  0.651118 -0.319318 -0.848077  0.605965 -1.167395
c -2.018168  0.740122  0.528813 -0.589001  1.268936
d  0.188695 -0.758872 -0.933237  0.955057 -1.692109

In [24]:
df.drop('new',axis=1,inplace=True)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [25]:
#selecting and indexing rows
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [26]:
df.loc[['a','b']]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965

In [27]:
df.iloc[2]

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [28]:
df.iloc[['0','1']]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965

In [29]:
#subseting
df.loc[['a','b'],['y','z']]

          y         z
a  0.907969  0.503826
b -0.848077  0.605965

In [31]:
df.head()#to get rows data from top to bottom

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [32]:
df.tail() #from bottom to top

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [34]:
df['w'].unique() #no duplicate values

array([ 2.70684984,  0.65111795, -2.01816824,  0.18869531])

In [35]:
df['w'].value_counts()

 0.651118    1
 2.706850    1
 0.188695    1
-2.018168    1
Name: w, dtype: int64